[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[project]
	description = This repo is a mirror of the official babeltrace git found at git.efficios.com/babeltrace.git. The Babeltrace project provides trace read and write libraries, as well as a trace converter. Plugins can be created for any trace format to allow its conversion to/from another trace format.
[access "refs/*"]
	owner = group user/Philippe Proulx (eepp)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Philippe Proulx (eepp)
	label-Verified = -1..+1 group user/Philippe Proulx (eepp)
	push = group user/Philippe Proulx (eepp)
	read = group user/Philippe Proulx (eepp)
	rebase = group user/Philippe Proulx (eepp)
	removeReviewer = group user/Philippe Proulx (eepp)
	submit = group user/Philippe Proulx (eepp)
[access "refs/heads/*"]
	create = group user/Philippe Proulx (eepp)
	push = +force group user/Philippe Proulx (eepp)
	pushMerge = group user/Philippe Proulx (eepp)
	read = group user/Philippe Proulx (eepp)
[access "refs/tags/*"]
	push = group user/Philippe Proulx (eepp)
	push = +force group user/Philippe Proulx (eepp)
[receive]
	requireChangeId = true
